<% if (messages.error) { %>
  <p class="text-red-500"><%= messages.error %></p>
<% } %>

<form method="post" action="/auth/login" class="container w-[50%] mx-auto">
  <div class="mb-[8px]">
    <label for="email">Email</label>
    <div class="pt-[2px]">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="you@domain.com"
        required
        class="block w-full px-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-[2px] focus:ring-inset"
      />
    </div>
  </div>  
  <div class="mb-[8px]">
    <label for="password">Password</label>
    <div class="pt-[2px]">
      <input 
        type="password" 
        id="password" 
        name="password" 
        required 
        class="block w-full px-2 rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-[2px] focus:ring-inset" />
    </div>
  </div>
  <div>
    <button 
      type="submit"
      class="w-full rounded-md bg-blue-300 px-3 mt-[8px]"
    >Login</button>
    <a href="/auth/register" class="block text-center mt-[8px]">Register</a>
  </div>
</form>
