<head>
  <link rel="stylesheet" href="css/bundle.css" />

  <title>Yas Kween - <%= title %></title>
  <script src="/js/main.js"></script>
  <script>
    window.roomId = "<%= roomId %>";
  </script>
</head>
