  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.tinyapp.DBngin.postgresql-C8263098-7F34-450C-BFC4-34A9BB972360</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/Shared/DBngin/postgresql/17.0/bin/postgres</string>
      <string>-D</string>
      <string>/Users/jesse/x/sequence/db</string>
      <string>-p</string>
      <string>5432</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/Shared/DBngin/postgresql/17.0</string>
    <key>StandardOutPath</key>
    <string>/Users/jesse/x/sequence/db/postgres_out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jesse/x/sequence/db/postgres_err.log</string>
  </dict>
  </plist>